body {
	margin: 0;
	padding: 0;
}

.main {
	width: 500px;
	text-align: center;
	margin-left: 0 auto;
	font-family: 'Arial', 'Tahoma';
}

img {
	height: 350px;
	width: 450px;
}

.dark {
	font-weight: bold;
}